{% extends "base.html" %}

{% block page %}
<div class="container">
<div class="col-sm-12"><h1>{{ formName }}</h1></div>
	<div class="container col-sm-9">
		<form action="{{ submitURL }}" method=post>
			<input type="hidden" name="formName" value="{{ formName }}">
			<div class="container">
				{% for field in allFields %}
				{% if field is string %}
			</div>
			<div class='col-sm-12'>
				<h2>{{ field }}</h2>
			</div>
			<div class="container">
				{% else %}
				<div class='col-sm-6'>
					<label>{{ field[0] }}</label>
					<input type="text" name="{{ field[1] }}"/>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="col-sm-12" id="bottomButtons">
				<input type=submit value={{ buttonName }} name="{{ buttonName }}">
			</div>
		</form>
	</div>
</div>
{% endblock %}