{% extends "base.html" %}

{% block page %}
<div class="container-fluid">
	<div class ='col-sm-3 col-md-2 sidebar'>
		<ul class="nav nav-sidebar">
			<li>testing</li>
			<li>test2</li>
		</ul>
	</div>
	<div class="container col-sm-9">
		<h1>{{ formName }}</h1>
		<form action="{{ url_for('document.searchdocs') }}" method=post>
			<input type="hidden" name="formName" value="{{ formName }}">
			{% for field in allFields %}
			{% if field is string %}
			<div class='col-sm-12'>
				<h2>{{ field }}</h2>
			</div>
			{% else %}
			<div class='col-sm-6'>
				<label>{{ field[0] }}</label>
				<input type="text" name="{{ field[1] }}" 
				{% if field[1] in formValues.keys() %}
				value="{{ formValues[field[1]] }}" 
				{% endif %}/>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-12" id="bottomButtons">
			<input type=submit value=Submit name="submit">
			<input type=submit value=Search name="search">

		</form>
	</div>
</div>
{% endblock %}